<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCarServlet</servlet-name>
        <servlet-class>controllers.ViewCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <servlet-class>controllers.ViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controllers.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>controllers.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>controllers.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCarServlet</servlet-name>
        <servlet-class>controllers.RemoveCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controllers.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controllers.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controllers.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controllers.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controllers.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCar</servlet-name>
        <servlet-class>controllers.ViewCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>controllers.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCar</servlet-name>
        <servlet-class>controllers.ManageCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCarServlet</servlet-name>
        <url-pattern>/ViewCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/UpdateQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCarServlet</servlet-name>
        <url-pattern>/RemoveCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCar</servlet-name>
        <url-pattern>/ViewCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/UserHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCar</servlet-name>
        <url-pattern>/ManageCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
